img{
    width=100px;
    border-radius:50%;
    margin-bottom:20px;
    border:solid #4cAF50;
}
h3{
    text-align: center;
    background-color: chartreuse;
    text-decoration-color: aliceblue;
}
